name: GiantRocketship-tests

on:
    workflow_dispatch:

permissions:
    contents: write
    pages: write

jobs:
    test:
        runs-on: ubuntu-latest
        container:
            image: mcr.microsoft.com/playwright:v1.56.1-jammy
        environment: automation
        env:
            BASE_URL: ${{ secrets.BASE_URL }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Install dependencies
              run: npm ci --legacy-peer-deps

            - name: Generate BDD test files
              run: npx bddgen

            - name: TypeScript compile check
              run: npx tsc --noEmit --skipLibCheck

            - name: Run tests with Allure
              run: npm run allure

            - name: Get Allure history
              if: always()
              continue-on-error: true
              uses: actions/checkout@v3
              with:
                  ref: gh-pages
                  path: gh-pages

            - name: Generate Allure Report
              if: always()
              uses: simple-elf/allure-report-action@master
              with:
                  allure_results: allure-results
                  allure_history: gh-pages
                  keep_reports: 20

            - name: Deploy Allure Report to GitHub Pages
              if: always()
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_branch: gh-pages
                  publish_dir: ./allure-report
                  keep_files: true
